.card{
    height: 50%;
    width: 50%;
    border: 0.1px solid #ccc;
    border-radius: 3px;
    background-color: rgb(252, 214, 158);
    color:black;
    text-align: center;
    margin: 5% auto 1% auto; /* top-right-bottom-left */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    animation: example 1s ease-in;
}
.card ul{
    list-style: none;
}
@keyframes example {
    0%  {opacity: 0.1;}
  25% {opacity: 0.4;}
  50%  {opacity: 0.7;}
  100% {opacity: 1;}

  }
.delete{
    background-color: rgb(252, 214, 158);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.delete i{
    color:red;
    font-weight: bold;
}
.edit{
    background-color: rgb(252, 214, 158);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.edit i{
    color:rgb(255, 123, 0);
    font-weight: bold;
}

.title{
    color:black;
    font-size: 2rem;
    padding: 0;
}