.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
form{
    margin-left: 20%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card{
    height: 100%;
    width: 50%;
    padding: 0;
    border: none;
    background-color: inherit;
    margin: 5% auto 2% auto; /* top-right-bottom-left */
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.card form div{
    margin-right: 50%;
    display: flex;
    justify-content: space-between;
 
}
.add{
    background-color: inherit;
    border:none;
    color: rgb(0, 104, 0);
    cursor: pointer;
    height: 100%;
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    transition: all 0.5s ease-in;
    opacity: 0.5;
}
.add:hover{
    opacity: 1;
    color: green;
}
.input{
    margin: 0;
    height: 10%;
    width: 70%;
    border: 1px solid #000;
    color: rgba(255, 135, 122, 0.795);
    outline: none;
    font-size: 3rem;
    background-color: blanchedalmond;
    border-radius: 5px;
    
}

.erase{
    background-color: inherit;
    border:none;
    color: rgb(243, 33, 61);
    cursor: pointer;
    height: 100%;
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    transition: all 0.5s ease-in;
    opacity: 0.5;
}
.erase:hover{
    opacity: 1;
    color: red;
}

